
.user_profile-div {
  display:flex; 
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #F0FFFF;
  position:relative;
}
.user_form {
  display:flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.user_name-div {

}

.user_name-input {

}

.user_profile-image {
  position:absolute; 
  bottom: 0px;
  left: 20px;
  height: 60%;
}