
.user_profile-div {
  display:flex; 
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  background-color: #F0FFFF;
  position:relative;
}
.user_form {
  display:flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 6% 17% 5% 8%;

}

.user_name-div {

}

.user_name-input {

}

.user_profile-image {
  position:absolute; 
  bottom: 0px;
  left: 8%;
  height: 40%;
}