@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

$title-font: 'Luckiest Guy', cursive;

.movie-card-style {
  position: relative; 
}

.movie-card-btn{
  position: absolute;
  bottom: 0px;
  left:0px;
}

.episode {
  font-family: $title-font;
  letter-spacing: 1px;
}

