@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

$title-font: 'Luckiest Guy', cursive;


.episode {
  font-family: $title-font;
  letter-spacing: 1px;
}


.movie-card {
  border: solid 1px lightgray;
  width: 25%;
  margin: 15px;
  padding: 15px;
}