@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

$title-font: 'Luckiest Guy', cursive;
$body-font: 'Bitter', serif;

.movie_card {
  position: relative; 
  box-shadow: 0px 5px 5px 0px #e8e8e8, 0px 10px 10px 0px #e8e8e8;
  margin: 20px; 
  padding: 11px; 
}

h5,
.movie_card-title {
  font-family: $body-font;

}

.movie_card-btn{
    border-color: #7878782b;
    border-radius: 20px;
    font-size: large;
    background-color: #f0ffffba;
    font-weight: 900;
    letter-spacing: 1.1px;
    padding: 12px;
    border: .5px solid #80808021;
}

.episode {
  font-family: $title-font;
  letter-spacing: 1px;
}

