@import './src/variables.scss';

.characterContainer_section {
  width: 80%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 
  position: relative; 
  // background: $space-background;
  // background-size: cover;
}

.favs-header {
  font-size: 2.5em;
  font-family: $title-font;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header { 
  height: 300px;
  width: 100%; 
  // background: url('https://images.unsplash.com/photo-1527190997915-67ce3b53cc58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');              
  background: url('http://www.ultradrive.com/images/rdx_starfield.jpg');
  color: $yellow-color;
  // overflow: hidden;
}

.scroll {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: 0;

    & .away {
      margin: auto;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-name: farfar;
      opacity: 0;
      display: block;
      text-indent: 0;
      padding-top: 20px;
      position: absolute;
    }

    & .title {
      font-size: 3.5em;
      font-family: $title-font;
      letter-spacing: 0.2em;
      margin: auto;
      text-align: center;
      padding-top: 125px;
      display: block;
      position: absolute;
      width: 100%;
      opacity: 1;
      animation-name: title;
      animation-delay: 0s;
      animation-duration: 25s;
    }

    & > .galaxy {
      font-family: $fill-font;
      font-size: 2.5em;
      margin: auto;
      text-align: justify;
      perspective: 400px;
    
      & > p {
        font-size: 1em;
        margin: auto;
        width: 80%;
        height: 50%;
        line-height: 50px;
        text-indent: 50px;
        text-align: justify;
        animation-name: crawl;
        animation-delay: 5s;
        animation-duration: 30s;
        opacity: 0;
      }
    }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes farfar {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes crawl {
  0% {
    transform: rotatex(30deg) translateY(300px);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotatex(30deg) translateY(-700px);
  }
}