@import './src/variables.scss';

.profile {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  margin: 5px auto;
  
  h2 {
    font-size: 3em;
    font-family: $title-font;
    margin: 15px auto;
    letter-spacing: 7px;
  }

  h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 10px auto;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px auto;
  }

  h5 {
    font-size: 1.3em;
    margin: 5px auto;
  }

  button {
    height: 50px;
    width: 80%;
    font-size: 1.2em;
    font-family: $body-font;
    margin-top: 25px;
    background-color: #f0ffffba;
    border-radius: 25px;
    outline: none;
    &:hover {
      border: 5px solid $yellow-color;
      font-weight: 700;
    }
  }
}

